<app-nav></app-nav>

<main  class="cs-page-wrapper">
      <!-- Breadcrumb -->
      <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
          <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']"><i class="cxi-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Mis Direcciones</li>
          </ol>
        </div>
      </nav>

      <!-- Page container -->
      <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

          <!-- Account menu (sticky sidebar) -->
          <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
            <app-sidebar></app-sidebar>
          </aside>

          <!-- Content -->
          <div class="col-lg-8 ml-auto">
            <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
              <h1 class="h2 mb-0">Mis Direcciones</h1>
              <a (click)="mostrarForm=!mostrarForm" class="btn btn btn-light btn-sm btn-hover-shadow text-success font-size-base text-decoration-none" role="button">
                <i class="font-size-sm mt-n1 mr-2" [ngClass]="{'cxi-plus' : mostrarForm===false, 'cxi-minus': mostrarForm===true}"></i>
                {{ mostrarForm===false ? 'Agregar Dirección' : 'Ocultar Formulario'}}
              </a>
            </div>
            <div *ngIf="mostrarForm">
              <form [formGroup]="direccionForm" (submit)="guardar()">
                <div class="row pb-3">
                  <div class="col-sm-6 form-group">
                    <label for="ac-address">Documento de identidad</label>
                    <input type="text" id="ac-address" class="form-control" formControlName="cedula" value="#######">
                  </div>
                  <div class="col-sm-10 form-group">
                    <label for="ac-fn">Destinatario</label>
                    <input type="text" id="ac-fn" class="form-control" value="Annette" formControlName="destinatario">
                  </div>
                  <div class="col-sm-2 form-group">
                    <label for="ac-email">N° de casa</label>
                    <input type="email" id="ac-email" class="form-control" value="ann.black@example.com" formControlName="numero_casa">
                  </div>
                  
                  
                  <div class="col-sm-12 form-group">
                    <label for="ac-ln">Dirección</label>
                    <input type="text" id="ac-ln" class="form-control" value="Black" formControlName="direccion">
                  </div>
                  
                  
                  <div class="col-sm-6 form-group">
                    <label for="ac-country">Pais</label>
                    <select id="ac-country" class="custom-select rounded-0" formControlName="pais">
                      <option value="" disabled>Seleccionar</option>
                      <option value="paraguay">Paraguay</option>
                      <option value="argentina">Argentina</option>
                      <option value="uruguay">Brasil</option>
                      <option value="bolivia">Bolivia</option>
                      <option value="uruguay">Uruguay</option>
                      <option value="chile">Chile</option>
                      <option value="peru">Peru</option>
                      <option value="colombia">Colombia</option>
                      <option value="mexico">Mexico</option>
                      <option value="estados unidos">Estados Unidos</option>
                    </select>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label for="ac-country">Departamento</label>
                    <input type="text" id="ac-ln" class="form-control" value="Black" formControlName="departamento" *ngIf="direccionForm.get('pais')?.value !== 'paraguay'">
                    <select id="ac-country" class="custom-select rounded-0" *ngIf="direccionForm.get('pais')?.value === 'paraguay'" formControlName="departamento" (change)="onDepartamentoChange($event)">
                          <option value="" disabled selected>Seleccionar</option>
                          <option value="capital">Capital</option>
                          <option value="concepcion">Concepción</option>
                          <option value="san_pedro">San Pedro</option>
                          <option value="cordillera">Cordillera</option>
                          <option value="guaira">Guairá</option>
                          <option value="caaguazu">Caaguazú</option>
                          <option value="caazapa">Caazapá</option>
                          <option value="itapua">Itapúa</option>
                          <option value="misiones">Misiones</option>
                          <option value="paraguari">Paraguarí</option>
                          <option value="alto_parana">Alto Paraná</option>
                          <option value="central">Central</option>
                          <option value="neembucu">Ñeembucú</option>
                          <option value="amambay">Amambay</option>
                          <option value="canindeyu">Canindeyú</option>
                          <option value="presidente_hayes">Presidente Hayes</option>
                          <option value="boqueron">Boquerón</option>
                          <option value="alto_paraguay">Alto Paraguay</option>
                    </select>
                  </div>

                  <div class="col-sm-6 form-group">
                    <label for="ac-country">Ciudad</label>
                    <input type="text" id="ac-ln" class="form-control" value="Black" formControlName="departamento" *ngIf="direccionForm.get('pais')?.value !== 'paraguay'">
                    <select id="ac-country" class="custom-select rounded-0" formControlName="ciudad" *ngIf="direccionForm.get('pais')?.value === 'paraguay'" [disabled]="direccionForm.get('pais')?.value === 'paraguay' && ciudades.length > 0">
                      <option value="" disabled selected>Seleccionar</option>
                      <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
                    </select>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label for="ac-phone">Telefono</label>
                    <input type="text" id="ac-phone" class="form-control" value="(629) 555-0129" formControlName="telefono">
                  </div>
                <!--  <div class="col-sm-6 form-group">
                    <label for="genero" class="form-label">Genero</label>
                          <select class="form-control custom-select rounded-0" formControlName="genero" id="genero">
                            <option value="" selected disabled>Seleccionar</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                          </select>
                  </div> -->
                  <div class="col-sm-6 form-group">
                    <label>
                          <input type="checkbox" formControlName="principal" /> Dirección principal
                      </label>
                  </div>
                </div>
                <div class="text-end">
                  <button type="submit" class="btn btn-primary btn-sm btn-hover-shadow"> <i class="cxi-checkmark"></i> &nbsp;Guardar cambios&nbsp;</button>
                </div>
              </form>
            </div>

            <div>
              <div class="mt-4" *ngIf="direcciones.length == 0">
                  <hr>
                  <br>
                  <i class="cxi-danger opacity-50"></i>
                  <span class="opacity-50"> No hay direcciones registradas hasta el momento</span>
              </div>
              <div class="mt-4" *ngIf="direcciones.length >= 1">
                  <!-- List group with custom content -->
                  <div class="list-group" *ngFor="let direccion of direcciones">
                      <div class="row">
                          <div class="col-11 pr-0">
                              <a role="button" class="list-group-item list-group-item-action flex-column align-items-start py-3"
                                  [ngClass]="{ 'active': direccion.principal }"
                                  (click)="actualizarEstadoDireccion(direccion._id, {principal: !direccion.principal})"
                                  style="border-radius: 5px 0px 0px 5px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                                  <div class="d-flex flex-wrap w-80 justify-content-between">
                                      <h6 [ngClass]="{ 'text-white': direccion.principal }">Destinatario:
                                          <b>{{direccion.destinatario}}</b></h6>
                                      <small class="opacity-50 mb-2"
                                          [ngClass]="{ 'text-white': direccion.principal }">{{direccion.principal ? 'Dirección de
                                          Envío':'Direccion Secundaria'}}</small>
                                  </div>
                                  <span>N° Télefono: {{direccion.telefono}}</span>
                                  <p class="fs-sm fw-normal opacity-75" [ngClass]="{ 'text-white': direccion.principal }">Dirección:
                                      {{direccion.direccion}} - Número de casa: {{direccion.numero_casa}}</p>
                                  <div class="d-flex flex-wrap w-100 justify-content-between">
                                      <small class="opacity-70" [ngClass]="{ 'text-white': direccion.principal }">{{direccion.pais}} -
                                          {{direccion.departamento}} - {{direccion.ciudad}}</small>
                                  </div>
                              </a>
                          </div>
                          <div class="col-1"
                              style="display: flex; justify-content: center; align-items: center; background-color: #F5F5F5; border-radius: 0px 5px 5px 0px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                              <a role="button" class="btn text-danger btn-link font-size-base text-decoration-none pr-4"
                                  (click)="eliminarDireccion(direccion._id)">
                                  <i class="cxi-delete font-size-lg mt-n1 mr-2"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            

          </div>
        </div>
      </section>

</main>

<app-footer></app-footer>
