<app-nav></app-nav>

<main  class="cs-page-wrapper">
    <!-- Breadcrumb -->
      <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
          <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']"><i class="cxi-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Mis Ordenes</li>
          </ol>
        </div>
      </nav>

      <!-- Page container -->
      <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

          <!-- Account menu (sticky sidebar) -->
          <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
            <app-sidebar></app-sidebar>
          </aside>

          <!-- Content -->
          <div class="col-lg-8 ml-auto">
            <div class="d-flex align-items-center justify-content-between mb-4 pb-sm-2">
              <h1 class="h2 mb-0">Mis Ordenes</h1>
              <!-- <div class="form-inline">
                <label for="sort-orders" class="d-none d-sm-block font-weight-bold mr-2 pr-1">Sort orders</label>
                <select id="sort-orders" class="custom-select">
                  <option>All</option>
                  <option>Delivered</option>
                  <option>In Progress</option>
                  <option>Delayed</option>
                  <option>Canceled</option>
                </select>
              </div> -->
            </div>

            <!-- Orders accordion -->
            <div class="accordion-alt" id="orders">
              

              <!-- Order -->
              <div class="mt-4" *ngIf="ordenes.length === 0 || ordenes === null">
                  <hr>
                  <br>
                  <i class="cxi-danger opacity-50"></i>
                  <span class="opacity-50"> No tienes ordenes hasta el momento</span>
              </div>
              <div class="card border-bottom" *ngFor="let orden of ordenes | slice: (page-1)*pageSize : (page-1)*pageSize+pageSize; let indice = index">
                <div class="card-header accordion-heading py-1">
                  <a [routerLink]="['/cuenta/ordenes/', orden._id]" class="d-flex flex-wrap justify-content-between py-3" data-toggle="collapse" aria-expanded="false">
                    <span class="pr-2">#{{orden._id.slice(-8)}}</span>
                    <span class="font-size-sm text-muted text-nowrap px-2">
                      <i class="cxi-clock font-size-base align-middle mt-n1 mr-1"></i>
                      {{orden.createdAt | date}}
                    </span>
                    <span class="badge badge-info">{{orden.estado}}</span>
                    <span class="text-dark pl-1">{{orden.subtotal | currency:'PYG ':'symbol':'1.0-0'}}</span>
                  </a>
                </div>  
              </div>
            </div>
            <div class="card-footer border-0 pl-0" *ngIf="ordenes.length > 0">
                <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="ordenes.length"
                ></ngb-pagination>
            </div> 
          </div>
        </div>
      </section>
</main>

<app-footer></app-footer>